html {
	/*Calculated this using an app. Reset it if u wish to. */
	min-width: 754px;
}

body {
	margin: 0;
	width: 100%;
	/*This padding is bc: Fixed navbars overlay main content
	so body ko kuch pixels ki padding deni parti for proper alignment*/
	padding-top:117px;
	font-family: 'Poppins'; /*Default on my system, change*/
}

a {
	color: white;
}

a:hover {
	color: white; /*Change*/
	text-decoration: none;
}

.fixedPosition {
	position: fixed; /*Fixed position. Isko set karney key lie padding deni */
	width: 100%;
}

.mainHeader {
	height: 120px;
	background: rgb(128,0,0);/*Main color, change this. */
	width: 100%;
	padding: 10px 20px; /*For adjusting the image*/
  	top: 0px;
  	position: fixed; /*Used fixedPosition instead */
  	left: 0;
  	z-index: 2; /*Order of stacking elements*/
}

.mainLogo {
	height:100px;
	width: 100px;
}

.mainHeading {
	color: white;
	font-size: 30px;
	margin-top:10px;
	text-transform: capitalize;
	padding-left: 20px;
	line-height: 1.5;
	display: inline-block;
}

/*If the screen hits 840px, do this.*/
@media screen and (max-width: 840px){
	.mainHeading {
		font-size: 25px;
	}
}

@media screen and (max-width: 630px){
	.mainHeading {
		font-size: 20px;
	}
}

@media screen and (max-width: 534px){
	.mainHeading {
		font-size: 15px;
	}
}


/*CODE FOR THE CAROUSEL - IMAGE SLIDER - SLIDESHOW*/
.imgResizer {
	width: 100%;
	height: 360px;
}

.carousel {
	margin: 20px auto;
  width:500px;
  height:50%;
}


/*CODE FOR THE MENU SLIDERS.*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.grids{

	border: 1px solid rgba(128,0,0,0.2);
	padding: 30px;
	padding-top: 4px;
	padding-bottom: 2px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 4px 4px 3px rgba(44,71,0, 0.4);
}
#video{
	height: 270px;
	padding-left: : 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 1px; 
	margin-left:  0.3%;
	margin-top:  1.2%;
	margin-bottom:  1.2%;
	/*margin-right:  1.2%;*/
	float: left;


}
#videotext{
	float: right;
	
	padding-top: 25px;

}
.content-heading
{
background: #990000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #eef2f3, #990000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #eef2f3, #990000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

border-radius: 5px;
box-shadow: 1px 1px 3px rgba(44,71,0, 0.4);

}
.col-md-5, .col-md-3, .col-lg-5, .col-md-3 {
	margin: 1.2%;

}



.parallax {
    /* The image used */
    background-image: url("http://static.panoramio.com/photos/large/95625328.jpg");
    /* Set a specific height */
    min-height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.news {
	margin: 50px 0;
	height: 150px;
	background-color: rgba(255,255,255, 0.5);
}