html {
	/*Calculated this using an app. Reset it if u wish to. */
	/*min-width: 839px;*/
}

body {
	margin: 0;
	width: 100%;
	padding-top:149px;
	font-family: 'Poppins'; /*Default on my system, change*/
}

a {
	color: white;
}

a:hover {
	color: white; /*Change*/
	text-decoration: none;
}

.mainHeader {
	height: 120px;
	background: rgb(128,0,0);/*Main color, change this. */
	width: 100%;
	padding: 10px 20px; /*For adjusting the image*/
	position: fixed; /*Fixed position. Isko set karney key lie padding deni */
  	top: 0px;
  	left: 0;
  	z-index: 2; /*Order of stacking elements*/
}

.mainLogo {
	height:100px;
	width: 100px;
}

.mainHeading {
	color: white;
	font-size: 30px;
	margin-top:10px;
	text-transform: capitalize;
	padding-left: 20px;
	/*width:250px;Remove this for text in a straight line*/
	line-height: 1.5;
	display: inline-block;
}


/* ------------------------------------------------------------------------------------------------------- */
/* CODE FOR THE MAIN NAVBAR */

.mainNav {
	height: 30px;
	background: black;
	width:100%;
	position: fixed;
  	top: 120px;
  	left: 0;
  	bottom:0;
  	z-index: 2;
}

.mainNav p {
	float:left;
	padding: 10px 12%;
	/*padding-right:25%; Divide this by the number of headings. I had 4 so 25%  OR BETTER USED 12.5 FOR CENTER*/
	text-align: center;
	width: 50px;
}


/* CODE FOR THE SLIDERS*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade { /* @webkit - multi-browser support*/
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.grids{

	border: 1px solid rgba(128,0,0,0.2);
	padding: 30px;
	padding-top: 4px;
	padding-bottom: 2px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 4px 4px 3px rgba(44,71,0, 0.4);
}

.content-heading
{
background: #990000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #eef2f3, #990000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #eef2f3, #990000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

border-radius: 5px;
box-shadow: 1px 1px 3px rgba(44,71,0, 0.4);

}
.col-md-5, .col-md-3, .col-lg-5, .col-md-3 {
	margin: 1.2%;

}
.chairman{
	/* some issues to be resolved */
	/*use your own path*/
	
background-image: url("C:/Users/Dell/SE-Website/assets/images/chair.jpg");



background-position: center;



}


.parallax {
    /* The image used */
    background-image: url("http://static.panoramio.com/photos/large/95625328.jpg");
    /* Set a specific height */
    min-height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}