
  .main {
    height: 100%;
}

section {
    min-height: 100%;
}
.box{
  border: 2px solid red;
  height: 100px;
  width: 100px;
}
li{
	font: red;
}
#TAB{background: #990000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #eef2f3, #990000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #eef2f3, #990000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

border-radius: 5px;
box-shadow: 1px 1px 3px rgba(44,71,0, 0.4);}

.cv:hover, .email-id:hover{
	text-decoration: underline;
}
.categories{
	background: #ffe6e6;  /* fallback for old browsers */
	padding: 15px;
/*background: -webkit-linear-gradient(to top, #eef2f3, #990000);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to top, #eef2f3, #990000);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.table-heads {
	padding-top: 115px;
}


/* NEW CODE */
.table-headers {
  padding-top:60px;
}

.nameDescriptionSpacing {
  width: 350px;
}

.studentNameSpacing {
  width: 350px;
}

.serialNoSpacing {
  width: 10px;
}

#websiteLink {
  text-transform: capitalize;
  color: red;
}